/* CSS Font Rule
	font-family: 'IBM Plex Sans', sans-serif;
*/


.general-content{
	background-color: #d8f3dc;
}

.navigation-content{
	font-family: 'IBM Plex Sans', sans-serif;
	weight: 500;
	list-style-type: none;
	display: block;
	padding: 0px;
}

.placeholder-content{
	font-family: 'IBM Plex Sans', sans-serif;
	weight: 300;
}